*{
    margin:0;
    padding:0;
    font-family:'Playfair', serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    position:relative;
    background-color:#fff;
    position:relative;
}
.navbar{
    display:flex;
    justify-content:space-between;
    width: 85%;
    align-items:center;
}
.logo{
    width:120px;
    margin-left:8%;
}
.list-item{
    display:inline-block;
    margin:12px;
}
.link{
    text-decoration: none;
    color:black;
    font-weight:bold;
}
.link:hover{
    background-image: linear-gradient( to right,#ffff00,#ff9900,rgb(255, 102, 102));
    cursor:pointer;
    color: #fff;
}
.title{
    margin-top:15%;
    margin-left:8%;
}
span{
    color:#ffd11a;
}
.information span,.heading span{
    color: #000;
}
#btn{
    background:#000;
    color:#fff;
    padding:10px 12px;
    text-decoration: none;
    display:inline-block;
    margin-top:1%;
    border-radius:5px;
}
.images{
    width:45%;
    height:70%;
    position:absolute;
    right:30px;
    bottom:0px;
}
.imagesgrp{
    position:absolute;
    height:80%;
    bottom:0px;
    left:50%;
    transform:translate(-50%);
    transition:bottom 1s, left 2s; 
}
.images:hover #shd{
    bottom:70px;
}
.images:hover #grl{
left:40%;
} 
#about{
    margin: 18% 7% 0 9%;
}
.heading{
    text-align: center;
}
.heading span{
    color: #79ff4d;
    font-weight: bold;
}
.heading h2{
    font-size: 43px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.about-details{
    font-weight: 400;
    text-align: justify;
    margin-top: 50px;
    font-size: 18px;
}
.info-box{
    margin-top: 14px;
}
.img{
    width: 70%;
    border-radius: 1rem;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact{
    margin-top: 30%;
}
.icon-set{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px
}
.icon{
    padding: 50px;
    border-radius: 50%;
    font-size: 35px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #000;
}
.icon i:hover{
    background-image: linear-gradient( to right,#ffff00,#ff9900,rgb(255, 102, 102));
    color: #fff;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5% 5% 0 5%;
}
.progress-bar{
    width: 80%;
}
.progress-bar h3 span{
    font-size: 5px;
}
.bar-containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    position: relative;
}
.light-bar{
    width: 100%;
    background-color: #000;
    height: 0.5rem;
    position: absolute;
    bottom: 0;

}
.html-bar{
    background-color: #ffd11a;
    width: 95%;
    position: absolute;
}
.css-bar{
    background-color: #ffd11a;
    width: 90%;
    position: absolute;
}
.js-bar{
    background-color: #ffd11a;
    width: 96%;
    position: absolute;
}
.rs-bar{
    background-color: #ffd11a;
    width: 96%;
    position: absolute;
}
.an-bar{
    background-color: #ffd11a;
    width: 92%;
    position: absolute;
}
.nd-bar{
    background-color: #ffd11a;
    width: 98%;
    position: absolute;
}
.heading{
    margin-top: 3rem;
}